<a href="https://colab.research.google.com/github/kahramankaya/VeriBilimiKucukProje/blob/main/A_B_test-project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data1=pd.read_csv("/content/test_group.csv",sep=";")
data2=pd.read_csv("/content/control_group.csv",sep=";")
print(data1)
print(data2)

In [26]:
#let's have a look at both datasets:
print(data1.head())

   Campaign Name       Date  Spend [USD]  # of Impressions  Reach  \
0  Test Campaign  1.08.2019         3008             39550  35820
1  Test Campaign  2.08.2019         2542            100719  91236
2  Test Campaign  3.08.2019         2365             70263  45198
3  Test Campaign  4.08.2019         2710             78451  25937
4  Test Campaign  5.08.2019         2297            114295  95138

   # of Website Clicks  # of Searches  # of View Content  # of Add to Cart  \
0                 3038           1946               1069               894
1                 4657           2359               1548               879
2                 7885           2572               2367              1268
3                 4216           2216               1437               566
4                 5863           2106                858               956

   # of Purchase
0            255
1            677
2            578
3            340
4            768

In [27]:
print(data2.head())

      Campaign Name       Date  Spend [USD]  # of Impressions     Reach  \
0  Control Campaign  1.08.2019         2280           82702.0   56930.0
1  Control Campaign  2.08.2019         1757          121040.0  102513.0
2  Control Campaign  3.08.2019         2343          131711.0  110862.0
3  Control Campaign  4.08.2019         1940           72878.0   61235.0
4  Control Campaign  5.08.2019         1835               NaN       NaN

   # of Website Clicks  # of Searches  # of View Content  # of Add to Cart  \
0               7016.0         2290.0             2159.0            1819.0
1               8110.0         2033.0             1841.0            1219.0
2               6508.0         1737.0             1549.0            1134.0
3               3065.0         1042.0              982.0            1183.0
4                  NaN            NaN                NaN               NaN

   # of Purchase
0          618.0
1          511.0
2          372.0
3          340.0
4            NaN

In [31]:
#Data Preparation
data1.columns = ["Campaign Name", "Date", "Amount Spent", 
                        "Number of Impressions", "Reach", "Website Clicks", 
                        "Searches Received", "Content Viewed", "Added to Cart",
                        "Purchases"]
data2.columns=["Campaign Name", "Date", "Amount Spent", 
                        "Number of Impressions", "Reach", "Website Clicks", 
                        "Searches Received", "Content Viewed", "Added to Cart",
                        "Purchases"]

In [33]:
#now let's see if our datasets have null values or not:
print(data1.isnull().sum())

Campaign Name            0
Date                     0
Amount Spent             0
Number of Impressions    0
Reach                    0
Website Clicks           0
Searches Received        0
Content Viewed           0
Added to Cart            0
Purchases                0
dtype: int64

In [36]:
#this dataset has some null values. so 
print(data2.isnull().sum())

Campaign Name            0
Date                     0
Amount Spent             0
Number of Impressions    0
Reach                    0
Website Clicks           0
Searches Received        0
Content Viewed           0
Added to Cart            0
Purchases                0
dtype: int64

In [35]:
#lets fill in these missing values by the mean value of each column.

data2["Number of Impressions"].fillna(value=data2["Number of Impressions"].mean(), 
                                             inplace=True)
data2["Reach"].fillna(value=data2["Reach"].mean(), 
                                             inplace=True)
data2["Website Clicks"].fillna(value=data2["Website Clicks"].mean(), 
                                             inplace=True)
data2["Searches Received"].fillna(value=data2["Searches Received"].mean(), 
                                             inplace=True)
data2["Content Viewed"].fillna(value=data2["Content Viewed"].mean(), 
                                             inplace=True)
data2["Added to Cart"].fillna(value=data2["Added to Cart"].mean(), 
                                             inplace=True)
data2["Purchases"].fillna(value=data2["Purchases"].mean(), 
                                             inplace=True)