<a href="https://colab.research.google.com/github/kahramankaya/VeriBilimiKucukProje/blob/main/proje1(DataFrame_concat).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from scipy import stats

np.random.seed(0)
list1=[]
list2=[]
harcama=[]

for m in range(50):
  list1.append("erkek")
  harcama.append(np.random.randint(1000,size=1))

for m in range(50):
  list2.append("kadın")
  harcama.append(np.random.randint(1000,size=1))
  
erkek=pd.DataFrame(list1,columns=["cinsiyet"])
kadın=pd.DataFrame(list2,columns=["cinsiyet"])
harcamaa=pd.DataFrame(harcama,columns=["harcama"])

veri=pd.concat([erkek,kadın], ignore_index=True)
x=pd.concat([veri,harcamaa],axis=1)

print(x)

print(x[x["cinsiyet"] == "erkek"]["harcama"]) # bu kod ile sadece erkeklerin harcamalarına ulaştım. erkekleri kadından filtreledim daha sonra kalanların harcamasına ulaştım.
print(x[["cinsiyet","harcama"]]) # tüm sütunlar bu şekilde yazılabilir.

   cinsiyet  harcama
0     erkek      684
1     erkek      559
2     erkek      629
3     erkek      192
4     erkek      835
..      ...      ...
95    kadın      398
96    kadın      611
97    kadın      565
98    kadın      908
99    kadın      633

[100 rows x 2 columns]
0     684
1     559
2     629
3     192
4     835
5     763
6     707
7     359
8       9
9     723
10    277
11    754
12    804
13    599
14     70
15    472
16    600
17    396
18    314
19    705
20    486
21    551
22     87
23    174
24    600
25    849
26    677
27    537
28    845
29     72
30    777
31    916
32    115
33    976
34    755
35    709
36    847
37    431
38    448
39    850
40     99
41    984
42    177
43    755
44    797
45    659
46    147
47    910
48    423
49    288
Name: harcama, dtype: int64
   cinsiyet  harcama
0     erkek      684
1     erkek      559
2     erkek      629
3     erkek      192
4     erkek      835
..      ...      ...
95    kadın      398
96    kadın      611
97    kadın      565
98    kadın      908
99    kadın      633

[100 rows x 2 columns]